* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  @include heading1;
}

h2 {
  @include heading2;
}

h3 {
  @include heading3;
}

h4 {
  @include heading4;
}

h5 {
  @include heading5;
}

h6 {
  @include heading6;
}

.p20 {
  @include p20;
}

.p26 {
  @include p26;
}

.wrapper-container {
  margin: 0 $margin-container;

  @media screen and (max-width: $breakpoint) {
    margin: 0 rem(50);
  }
}

section {
  margin-bottom: rem(132);
}

h1 {
  margin-bottom: rem(129) !important;
}

h2 + p {
  margin-bottom: rem(16);
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: rem(30);
}

.flex-row {
  display: flex;
  flex-direction: row;
  @media screen and (max-width: $breakpoint) {
    flex-direction: column;
    align-items: center;
  }
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.container {
  display: grid;
  grid-template-columns: 40% 60%;
  @media screen and (max-width: $breakpoint) {
    grid-template-columns: 1fr;
    aside {
      margin: 0 var(--margin-container);
    }
  }
}

.intro-section {
  img {
    height: rem(630);
    margin-left: 20vw;
    width: 80vw;
    object-fit: cover;
    @media screen and (max-width: $breakpoint) {
      margin-left: 0;
      width: 100%;
      height: rem(400);
    }
  }
}

.about-us {
  & > div:first-child {
    margin-left: 20%;
    margin-bottom: rem(130);
    @media screen and (max-width: $breakpoint) {
      margin: 0 var(--margin-container);
      margin-bottom: rem(130);
    }
  }

  & > div:last-child {
    display: flex;
    @media screen and (max-width: $breakpoint) {
      flex-direction: column;
    }

    & > div:first-child {
      flex: 0 0 40%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @media screen and (max-width: $breakpoint) {
          height: rem(400);
        }
      }
    }
    & > div:last-child {
      padding: rem(55) 10%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: rem(55);
    }
  }
}

.our-services {
  h2 {
    margin-bottom: rem(64);
  }
}
.services-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 25vw;

  align-items: stretch;
  div {
    height: 100%;
    flex: 0 0 25%;
    width: 20%;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.our-partners {
  margin-bottom: rem(200);
  h2 {
    margin-bottom: rem(64);
  }
}
.partners-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  img {
    width: rem(100);
  }
}

.team-list {
  margin-bottom: rem(200);
  margin-top: rem(63);
  justify-content: space-between;
  gap: rem(50);
  img {
    width: rem(250);
  }
}

.service-img {
  width: 100%;
}

.contacts {
  margin-bottom: rem(145);
  margin-top: rem(130);
  justify-content: end;
  margin-right: rem(150);
  gap: rem(90);
  text-align: end;
  .flex-column {
    gap: rem(25);
  }
}

.service-content {
  width: 70vw;
  margin-bottom: rem(125);
  p {
    margin-top: rem(16);
    margin-left: rem(150);
  }
}

.service-img {
  width: 100%;
}

.contacts {
  margin-bottom: rem(145);
  margin-top: rem(130);
  justify-content: end;
  align-items: end;
  margin-right: rem(150);
  gap: rem(90);
  text-align: end;
  .flex-column {
    gap: rem(25);
  }
}

.contact-thumbnail {
  width: 70%;
}

.blog-list {
  display: grid;
  /* adaptive grid el width = 300px */
  grid-template-columns: repeat(auto-fill, minmax(rem(320), 1fr));
  gap: rem(20);
}

.blog-title-margin {
  margin-left: rem(150);
  margin-bottom: rem(130);
}

.page404 {
  .search {
    width: 50vw;
    .container-search-form {
      --search-color: white !important;
    }
  }
}
/*


.intro-section {
  h1 {
    margin-bottom: rem(0);
  }
  display: flex;
  flex-direction: column;
  
  margin-bottom: rem(130);
  .intro-thumbnail {
    margin-top: rem(130);
    align-self: flex-end;
    width: 80vw;
    height: rem(631);
    object-fit: cover;
  }
}

.about-us {
  display: flex;
  flex-direction: column;
  width: 90vw;
  .first {
    width: 60vw;
    margin-bottom: rem(80);
    margin-left: 20vw;
  }
  .second {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    .about-us-img {
      width: 40vw;
      object-fit: cover;
      height: 100%;
    }
    .about-us-content {
      padding-left: rem(180);
      display: flex;
      flex-direction: column;
      gap: rem(60);
      h3 {
        margin-bottom: rem(20);
      }
    }
  }
}




.margin-left {
  margin-left: rem(150);
}

.margin-title {
  margin-left: rem(150);
  margin-top: rem(130);
}

.team-list {
  margin-bottom: rem(200);
  margin-top: rem(63);
  justify-content: center;
  gap: rem(50);
  img {
    width: rem(250);
  }
}

.service-content {
  width: 70vw;
  margin-bottom: rem(125);
  p {
    margin-top: rem(16);
    margin-left: rem(150);
  }
}

.service-img {
  width: 100%;
}




*/
