.theme-input,
.comment-form input:not([type="submit"]),
.comment-form textarea {
  label {
    display: none;
  }
  border: none;
  border-bottom: 1px solid #e4e4e4;
  background-color: transparent;
  padding: rem(10);
  outline: none;
  @include p20;

  ::placeholder {
    color: #e4e4e4;
  }

  position: relative;

  &:focus {
    border-bottom: 2px solid var(--main-color);
    color: var(--main-color);
  }
  transition: 0.2s;
}

.form-row {
  display: flex;
  gap: rem(50);
}
