.container-search {
  display: flex;
  justify-content: center;
  div {
    width: 80%;
    margin-bottom: rem(130);
  }
}

.article-card {
  display: flex;
  flex-direction: column;
  width: rem(400);
  gap: rem(20);
  a {
    text-decoration: none;
    color: var(--main-color);
  }
  p {
    font-family: $main-font;
    font-weight: 400;
    font-size: rem(20);
    color: var(--text-color);
    line-height: rem(38);
  }
  .info-post {
    font-family: $main-font;
    font-weight: 700;
    font-size: rem(20);
    letter-spacing: rem(1);
    color: var(--main-color);
    a {
      text-decoration: none;
      color: var(--main-color);
    }
  }
}

.article-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: rem(30);
}

.container-search-form {
  --search-color: var(--text-color);
  padding-bottom: rem(3);
  border-bottom: 1px solid var(--search-color);
  form {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }
  input {
    font-family: $main-font;
    flex: 1 1 auto;
    width: 100%;
    border: none;
    font-size: rem(20);
    padding: rem(10) 0;
    outline: none;
    color: var(--search-color) !important;
  }

  ::placeholder {
    color: var(--search-color) !important;
  }
  button {
    border: none;
    background-color: transparent;
    padding-right: rem(5);
  }
  .search-ico {
    cursor: pointer;
    display: flex;
    align-items: center;
    &::after {
      font: normal 18px/1 dashicons !important;
      color: var(--search-color);
      content: "\f179";
    }

    &:hover::after {
      color: var(--primary-color);
    }
  }

  /*  font: normal 20px/1 dashicons !important;
  content: "\f179"; */
}
